name: feature-branch
on:
  pull_request:
    branches:
      - main
      - release/**
    types: [opened, synchronize, reopened, labeled, unlabeled]

permissions:
  pull-requests: write
  id-token: write
  contents: read

jobs:
  ci-readme:
    uses: cloudposse/github-actions-workflows/.github/workflows/ci-readme.yml@main
    if: ${{ github.event_name == 'push' }}
    secrets: inherit    

  ci-codeowners:
    uses: cloudposse/github-actions-workflows/.github/workflows/ci-codeowners.yml@main
    with:
      is_fork: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository }}
    secrets: inherit

  ci-labels:
    runs-on: ubuntu-latest
    steps:
      - uses: cloudposse/github-action-release-label-validator@v1

  ci-build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: KengoTODA/actions-setup-docker-compose@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Tests
        shell: bash
        run: cd test && ./test.sh

      - name: Cleanup
        if: always()
        shell: bash
        run: cd test && docker-compose down

  ci:
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - run: |
          echo '${{ toJSON(needs) }}'  # easier debug
          ! ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
    needs: [ ci-readme, ci-codeowners, ci-labels, ci-build-test ]