name: Main Branch
on:
  push:
    branches: [ main ]

permissions:
  contents: write
  id-token: write

jobs:
#  ci-readme:
#    uses: cloudposse/github-actions-workflows/.github/workflows/ci-readme.yml@main
#    with:
#      filter-mode: nofilter
#      suggestions: false
#
#  ci-codeowners:
#    uses: cloudposse/github-actions-workflows/.github/workflows/ci-codeowners.yml@main
#    with:
#      is_fork: false
#    secrets:
#      github_access_token: ${{ secrets.github_access_token }}

  ci-build-push:
    runs-on: ubuntu-latest
#    needs: [ ci-readme, ci-codeowners ]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ github.repository }}

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  controller-release:
    uses: cloudposse/github-actions-workflows/.github/workflows/controller-release.yml@releases
    needs: [ ci-build-push ]
